= f.input :title,         as: 'string'
= f.input :content,          as: 'richtext'
= f.input :date,          as: 'datepicker'
= f.input :source,        as: 'string'
= f.input :image,         as: 'file'
= f.input :status